#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <325>; };

/ {
    macros {
        shiftTab: shiftTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp TAB>,
                <&macro_release>;

            label = "SHIFTTAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp NUMBER_1    &kp NUMBER_2    &kp NUMBER_3      &kp NUMBER_4      &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7       &kp NUMBER_8         &kp NUMBER_9     &kp NUMBER_0             &kp LEFT_BRACKET
&kp TAB         &kp Q           &kp W           &kp E             &kp R             &kp T           &kp Y         &kp U              &kp I                &kp O            &kp P                    &kp RIGHT_BRACKET
&kp CAPSLOCK    &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D       &mt LEFT_SHIFT F  &kp G           &kp H         &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMICOLON  &kp APOSTROPHE
&kp LEFT_SHIFT  &kp Z           &kp X           &kp C             &kp V             &kp B           &kp N         &kp M              &kp COMMA            &kp PERIOD       &kp SLASH                &kp K_FIND
                                                &kp LEFT_CONTROL  &kp LEFT_ALT      &kp LEFT_WIN    &kp SPACE     &kp BACKSPACE      &lt 2 ENTER
                                                                  &mo 1             &mo 3
            >;
        };

        navigation {
            bindings = <
&kp F1       &kp F2        &kp F3        &kp F4     &kp F5          &kp F6    &kp F7        &kp F8          &kp F9          &kp F10       &kp F11     &kp F12
&trans       &trans        &trans        &trans     &trans          &trans    &kp K_REDO    &kp K_PASTE     &kp K_COPY      &kp K_CUT     &kp K_UNDO  &trans
&trans       &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &trans    &kp CAPSLOCK  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &trans
&bootloader  &trans        &trans        &trans     &trans          &trans    &kp INSERT    &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END     &bootloader
                                         &trans     &trans          &trans    &kp DEL       &kp BACKSPACE   &kp ENTER
                                                    &trans          &trans
            >;
        };

        symbols {
            bindings = <
&trans     &kp GRAVE       &kp LPAR          &kp RPAR           &kp SEMI          &kp COMMA        &kp SEMI  &kp RSHFT   &kp RCTRL  &kp RALT       &kp RGUI   &trans
&kp EXCL   &kp LEFT_BRACE  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp RIGHT_BRACE   &kp QMARK        &kp DOT   &kp BSPC    &kp TAB    &kp SPACE      &kp ENTER  &trans
&kp POUND  &kp CARET       &kp EQUAL         &kp UNDER          &kp DOLLAR        &kp STAR         &kp FSLH  &kp DELETE  &shiftTab  &kp AMPERSAND  &kp PLUS   &trans
&kp TILDE  &kp LT          &kp PIPE          &kp MINUS          &kp GT            &kp BACKSLASH    &trans    &kp LPAR    &kp LBKT   &kp RBKT       &kp RPAR   &trans
                                             &kp RIGHT_BRACKET  &kp LEFT_BRACKET  &kp PERIOD       &trans    &trans      &trans
                                                                &kp PERCENT       &kp COLON
            >;
        };

        media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans             &trans           &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &kp K_MUTE         &gresc           &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp K_PREV  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_FORWARD  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans             &trans           &trans         &trans
                        &trans  &trans  &trans    &trans  &trans      &trans
                                &trans  &trans
            >;
        };
    };
};
